@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding-left: 0;
    padding-right: 0;
  }
}
header {
  margin-bottom: 40px;
}
.chat {
  height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 15px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}
.chat .message {
  margin: 12px;
  word-break: break-all;
}
.chat .message .user {
  color: #999;
}
.login-form {
  margin-top: 180px;
}
.error {
  margin-top: 10px;
}
