<!DOCTYPE html>{% load static %}
<html>
<head>
  {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Django Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'build/styles.css' %}">
  {% endblock %}
</head>
<body>
  {% csrf_token %}

  {% block layout %}{% endblock %}

  <script src="{% static 'build/app.bundle.js' %}" type="text/javascript"></script>
  <script src="{% static 'build/vendors.bundle.js' %}" type="text/javascript"></script>
</body>
</html>
