{% extends 'layouts/body.html' %}

{% block layout %}
  {% block content %}
    <div class="header">
      <nav class="navbar navbar-default navbar-top" role="navigation">
        <div class="container">
          <a class="navbar-brand" href="/">Django chat for Talentsy</a>
          {% if user.is_authenticated %}
            <ul class="nav navbar-nav pull-right">
              <li><a href="{% url 'logout' %}?next={% url 'login' %}">Logout</a></li>
            </ul>
          {% endif %}
        </div>
      </nav>
    </div>

    <div class="container">
      {% block page %}{% endblock %}
    </div>
  {% endblock %}
{% endblock %}
