{% extends 'layouts/layout.html' %}

{% block page %}
  <div class="row">
    <div class="col-md-12">
      <div id='chat' class="chat"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="well">
        <form role="form">
          <div class="form-group">
            <textarea id="textbox" class="form-control" rows="3" maxlength="900"></textarea>
          </div>
          <div class="form-group">
            <button id="submit" type="button" class="btn btn-primary" title="Or press Ctrl+Enter">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}